/* src/app/globals.css */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "tailwindcss";
/* rgb(83, 255, 134) */

:root {
  --grey-dark: #343a40;
  --odd-grey: #3e454d;
  --dark: #242428;
  --height-small: 400px;
  --height-medium: 500px;
  --height-large: 610px;
  --light: #ffffff;
  --theme: #fdbd73;
  --random-colors: #ff5733, #33ff57, #5733ff, #ff33a8, #33a8ff, #a833ff, #ff33ff,
    #33ffc2, #a8ff33, #ffc233;
}

body {
  margin: 0;
  padding: 0;
  background-color: #303030; /* Dark background to match the image */
  color: #ffffff; /* White text for contrast */
  font-family: "Nunito", sans-serif; /* Applying Nunito font */
}

